@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/**:root{
    --
    --
    --
    --
    --
    --;
}**/

.body{
    margin: 0;
    width: 100%;
    height: 100vh;
}

.topnav{
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.topnav-left{
    display: flex;
    flex-direction: row;
}

.topnav-left-item{
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 2rem;
    height: auto;
    font-family: Montserrat, 'Sans-Serif';
    border-radius: .15rem;
}

.topnav-right{
    display: flex;
    flex-direction: row;
}

.icon{
    width: 1.21rem;
    height: auto;
}

#toggle{
    width: ;

}

