@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
    --bg: #f3f3f8;
    --box: #fff;
    --header: #777;
    --txt: #999;
    --btn: #666;
}

.container{
  max-width: 405px;
  padding: 20px 0;
  margin: 137px auto;
  background: var(--box);
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.task-input{
  height: 52px;
  padding: 0 20px;
  position: relative;
}
.task-input .image{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input{
  height: 100%;
  width: 100%;
  color: var(--header);
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: none;
  background-color: var(--bg);
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, .20);
}
.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
  border: 2px solid var(--btn);
}
.task-input input::placeholder{
  color: var(--txt);
}
.controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 18px 20px;
  border-bottom: 1px solid var(--txt);
}
.filters span{
  margin: 0 5px;
  font-size: 17px;
  color: var(--header);
  cursor: pointer;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: var(--header);
  font-weight: bold;
  font-size: 1.2rem;
}
.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: var(--btn);
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 15px 10px 20px;
}
.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar{
  width: 5px;
}
.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--txt);
}
.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label{
  display: flex;
  align-items: center;
}
.task label input{
  accent-color: var(--btn);
}
.task label p{
  color: var(--header);
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked{
  text-decoration: line-through;
}
.task-box .tools{
  position: relative;
}
.tools :where(.tools-icon, li){
  cursor: pointer;
}
.tools .tools-icon{
  font-size: 1rem;
  color: var(--header);
}
.tools .task-menu{
  z-index: 1;
  right: -1px;
  bottom: 0;
  padding: 5px 0;
  background: var(--box);
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  color: var(--header);
  width: 50%;
  height: auto;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.task-menu li:hover{
  background-color: rgba(0, 0, 0, 0);
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.no-task{
  color: var(--txt);
}
.tools li .tools-icon{
  color: var(--header);
  padding-right: .8rem;
}

@media (min-width: 660px) {
  .container{
    padding: 28px 0 30px;
  }
  .filters span{
    margin: 0 8px;
  }
  .task-input{
    padding: 0 25px;
  }
  .controls{
    padding: 18px 25px;
  }
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
  }
  .task label input{
    margin-top: 7px;
  }
}

